@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap");

*,
*:before,
*:after {
  margin: 0;
  font-family: "Mountains of Christmas", cursive;
  width: 100%;
  height: 100%;
}

body {
  background-image: url("https://fondosmil.com/fondo/10472.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: brightness(50%);
  background-color: black;
}

::selection {
  background: rgba(212, 245, 152, 0.5);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  height: 7vw;
  font-size: 5vw;
  color: rgba(255, 217, 217);
  margin-bottom: 1vw;
}

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 5vw;
}

input {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 1vw;
  height: 3vw;
  width: 25vw;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.575);
  outline: none;
  color: white;
  font-size: 2vw;
  text-align: center;
  background: transparent;
  margin-right: 1vw;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.692);
}

.add-btn {
  width: 3vw;
  height: 3vw;
  border-radius: 100%;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.575);
}

.icon-pen {
  width: 1vw;
  color: rgba(255, 255, 255, 0.692);
}

.gift-text {
  list-style: circle;
  height: 3vw;
  font-size: 2vw;
  color: rgb(153, 253, 133);
  text-decoration: underline;
}
